$color-violet: #4A3B80;
$color-pink: #B882FF;
$color-red: #E73A3A;
$color-yellow: #ECD14A;
$color-green: #8CE33F;
$title-color: #4A3B80;
$text-color: #4A3B80;
$background-color: #F8F5FF;
$border-task-color: #9889CF;

h1, h2, h3, h4 {
  color: $title-color;
}

h6 {
  color: $text-color;
}

p {
  color: $text-color
}

.topic {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin: 100px 40px;

  .science {
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-width: 909px;
    width: 100%;

    .header {
      display: flex;
      justify-content: start;
      flex-direction: row;

      .header__theme, .header__task {
        border: $color-violet 1px solid;
        border-bottom: none;
        border-radius: 15px 15px 0 0;
        height: 41px;
        background-color: white;
        min-width: 151px;
        color: $color-violet;
      }

    }

    .main {
      border: $color-pink 1px solid;
      border-radius: 0 20px 20px 20px;
      max-height: 792px;
      height: 100%;


      .content {
        padding: 0 68px;
      }
    }
  }

  .practics {
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-width: 909px;
    width: 100%;
    max-height: 792px;
    height: 100%;

    .practics__exit {
      display: flex;
      justify-content: end;
      margin: 10px 20px;
      align-content: end;
    }

    .practics__exit-none {
      margin: 21px 0;
    }

    .tasks {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: $color-pink 1px solid;
      border-radius: 20px;
      //margin-top: 42px;
      align-items: center;
      padding: 0 45px 45px 45px;

      .code-editor-block {
        width: 100%;
      }

      .task {
        display: flex;
        justify-content: start;
        width: 100%;
        border: 1px solid $border-task-color;
        border-radius: 100px;
        background-color: $background-color;
        margin: 5px;
        align-items: center;

        .task__buble {
          margin: 0 20px;
          height: 14px;
          width: 14px;
          border-radius: 100px;
          background-color: $color-red;
        }

        .content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }

    .task-information {
      display: flex;
      justify-content: start;
      flex-direction: row;
      width: 100%;
    }

    .rating {
      display: flex;
      justify-content: start;
      flex-direction: row;
      gap: 30px;
      width: 100%;

      .level {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .level__buble-green, .level__buble-yellow, .level__buble-red {
          height: 18px;
          width: 18px;
          border-radius: 100px;
        }

        .level__buble-green {
          background-color: $color-green;
        }

        .level__buble-yellow {
          background-color: $color-yellow;
        }

        .level__buble-red {
          background-color: $color-red;
        }
      }
    }
  }
}
