<section class="topic">
  <section class="science">
    <div class="header">
      <button class="header__theme" (click)="setPageStateTheme()">Теория</button>
      <button class="header__task" (click)="setPageStateTask()">Задание</button>
    </div>

    <section class="main">
      <div class="content__wrapper"></div>
      @if (_pageState === "theme") {
        <section class="content">
          <h4 class="content__title">{{ topicTitle() }}</h4>
          <div class="content__description" [innerHTML]="topicDescription()"></div>
        </section>
      } @else {
        <section class="content">
          <h4 class="task__name">{{ selectedTask()?.title }}</h4>
          <div class="content__description">{{ selectedTask()?.taskDescription || 'Нет описания' }}</div>
        </section>
      }
    </section>
  </section>

  <section class="practics">
    @if(selectedTask()?.type === 'code'){
      <div class="practics__exit" (click)="closeCodeEditor()">✖</div>
    }
    @else{
      <div class="practics__exit-none"></div>
    }
      <section class="tasks">
        @if (selectedTask()?.type === 'code') {
          <div class="code-editor-block">
            <app-code-editor
              [starterCode]="selectedTask()?.codeStarter || ''"
              [expectedSolution]="selectedTask()?.codeSolution || ''"
              [taskDescription]="selectedTask()?.taskDescription || ''"
              (codeCompleted)="onCodeCompleted($event)"
            ></app-code-editor>
          </div>
        }
        @else {
        <h3 class="tasks__title">Выберите задание</h3>
        @for(task of tasks(); track task.id){
          <div class="task" (click)="openTask(task)">
            <div class="task__buble"></div>
            <div class="content">
              <p class="task__name">{{task.title}}</p>
              @if(task.completed){
                <img [src]="" class="task__checker-complict" >
              }
              @else{
                <img [src]="" class="task__checker-">
              }
            </div>
          </div>
        }

        <div class="task-information">
          <p class="task-information__text">Прогресс: {{ completedCount }} / {{ tasks().length }}</p>
          <div class="task-information__bar" [style.width.%]="(completedCount / tasks().length) * 100"></div>
        </div>

        <div class="rating">
          <div class="level">
            <div class="level__buble-green"></div>
            <p>10 б.</p>
          </div>
          <div class="level">
            <div class="level__buble-yellow"></div>
            <p>25 б.</p>
          </div>
          <div class="level">
            <div class="level__buble-red"></div>
            <p>50 б.</p>
          </div>
        </div>
        }
      </section>
  </section>
</section>
