$gradient-start: rgba(152, 137, 207, 1);
$gradient-end: rgba(52, 37, 106, 1);

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a{
  font-family: 'Arial', sans-serif;
  color: white;
}

h1 {
  font-size: 82px;
}

h2 {
  font-size: 62px;
}

h6 {
  font-size: 18px;
  margin: 0;
}
p {
  font-size: 24px;
}

a {
  font-size: 20px;
  text-decoration: none;
}

button, select {
  color: black;
  font-size: 22px;
  height: 54px;
  border: none;
}

input {
  color: white;
  font-size: 22px;
  height: 54px;

}

button:hover {
  color: white;
  background: linear-gradient(135deg, $gradient-start, $gradient-end);
}

button:active {
  color: white;
  background: rgba(38, 38, 38, 1);
}

button:disabled {
  color: rgba(180, 180, 180, 1);
  background: rgba(207, 207, 207, 1);
}

