.button-content, .input-content, .select-content {
  min-width: 70px;
}

.button-content {
  width: 189px;
  border-radius: 74px;
  color: #9889CF;
}

.input-content {
  background-color: rgba($color: white, $alpha: 0.4);
  color: white;
  width: 840px;
  border-radius: 100px;
  padding-left: 59px;
  border: none;

  &:focus, &:active {
    outline: none;
    border: none;
  }

  &::placeholder {
    color: white;
  }
}

.select-content {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 293px;
  padding: 0 30px 0 30px;
  border-radius: 74px;
  background-image: url(../assets/arrow.png);
  background-repeat: no-repeat;
  background-position: right 23px center;
  background-size: 24px;
  cursor: pointer;
  outline: none;
  color: #9889CF;

  option {
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;

    &:hover {
      background-color: white;
    }

    &:checked {
      color: #4A3B80;
    }
  }
}

.madal-input {
  width: 609px;
  height: 55px;
  border: 1px solid gray;
  border-radius: 10px;
  align-content: center;
  color: gray;
  padding: 0 0 0 20px;

  &::placeholder {
    color: gray;
  }

  &:focus, &:active {
    outline: none;
  }
}

.modal-button {
  height: 55px;
  width: 609px;
  color: white;
  background-color: rgba(152, 137, 207, 1);
  border-radius: 86px;
}

.modal-text-police {
  font-size: 16px;
  color: rgba(109, 109, 109, 1);

}

.modal-text-name {
  color: rgba(62, 62, 62, 1);
  align-content: start;
  text-align: start;
  font-weight: 300;
  margin-bottom: 10px;
}

.modal-text-title {
  font-size: 52px;
  color: black;
}

.redirect-text {
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}

.redirect-button {
  border: none;
  background: none;
  color: rgba(152, 137, 207, 1);
  font-size: 18px;
  font-weight: 600;

  &:hover {
    background: none;
    color: black
  }
}
