.code-editor {
  width: 1000px;
  height: 400px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: unset;
}
