<section class="footer">
  <section class="top-side">
    <section class="left-side">
      <div class="logo">
        <img src="assets/logo.png" class="logo__img" />
        <h1 class="logo__title">Codevia</h1>
      </div>
      <a class="left-side__link">Каталог</a>
      <a class="left-side__link">О нас</a>
    </section>
    <section class="right-side">
      <div class="number">
        <p class="number__logo">Телефон:</p>
        <p class="number__information">+7 778 845-6733</p>
      </div>
      <div class="email">
        <p class="email__logo">Почта:</p>
        <p class="email__information">user@mail.ru</p>
      </div>
      <a class="right-side__link-vk" href=""> <img src="assets/VK.png" /> </a>
      <a class="right-side__link-telegram" href=""> <img src="assets/telegram.png" /> </a>
    </section>
  </section>
  <section class="bottom-side">
    <h5 class="bottom-side__privacy-policy">Политика конфиденциальности</h5>
    <h5 class="bottom-side__copyright">Design by UrFU, 2026</h5>
  </section>
</section>
