.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 400px;
  background-color: #232323;
  width: 100%;

  .top-side {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 300px;
    padding: 0 120px 0 80px;

    .left-side {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 80px;

      .logo {
        display: flex;
        align-items: center;

        .logo__img {
          height: 68px;
        }

        .logo__title {
          font-size: 40px;
        }
      }
    }

    .right-side {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .right-side__link-telegram {
        background-size: contain;
        background-repeat: no-repeat;
        width: 51px;
      }

      .right-side__link-vk {
        background-size: contain;
        background-repeat: no-repeat;
        width: 51px;
      }
    }
  }

  .bottom-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.5);
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 97.9%;

    .bottom-side__privacy-policy,
    .bottom-side__copyright {
      margin: 0;
    }
  }
}
