@if (activeModal() !== null) {
  <div class="modal-overlay" (click)="closeModals()"></div>
}

@if (activeModal() === 'registration') {
  <app-registration-modal
    class="registration-modal"
    (closeModal)="closeModals()">
  </app-registration-modal>
}

@if (activeModal() === 'authorization') {
  <app-authorization-modal
    class="authorization-modal"
    (closeModal)="closeModals()">
  </app-authorization-modal>
}
<app-header class="header"></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
