@if (activeModal() !== null) {
  <div class="modal-overlay" (click)="closeModals()"></div>
}

@if (activeModal() === 'registration') {
  <app-registration-modal
    class="registration-modal"
    (closeModal)="closeModals()">
  </app-registration-modal>
}

@if (activeModal() === 'authorization') {
  <app-authorization-modal
    class="authorization-modal"
    (closeModal)="closeModals()">
  </app-authorization-modal>
}

@if (activeModal() === 'changePassword') {
  <app-change-password-modal
    class="change-password-modal">
  </app-change-password-modal>
}

@if (activeModal() === 'changeEmail') {
  <app-change-email-modal
    class="change-email-modal">
  </app-change-email-modal>
}

<app-header class="header"
            [class.header--absolute]="headerMode() === 'absolute'"
            [class.header--relative]="headerMode() === 'relative'"
></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
