<!--<section class="header">-->
<!--  <section class="left">-->
<!--    <div class="logo">-->
<!--      <img src="assets/logo.png" class="logo__img" />-->
<!--      <h1 class="logo__title">Codevia</h1>-->
<!--    </div>-->

<!--    <a routerLink="catalog" class="left__link">Каталог</a>-->
<!--    <a routerLink="about" class="left__link">О нас</a>-->
<!--  </section>-->

<!--  @if(check === false){-->
<!--    <section class="right">-->
<!--      <button class="right__button-brightness"></button>-->
<!--      <button class="right__button-registration" (click)="showModalRegistration()">Регистрация</button>-->
<!--      <button class="right__button-authorization" (click)="showModalAuthorization()">Войти</button>-->
<!--    </section>-->
<!--  } @else {-->
<!--    <section class="right">-->
<!--      <button class="right__button-brightness"></button>-->
<!--      <a routerLink="/profile" class="right__link-profile">{{userData.name}}</a>-->
<!--    </section>-->
<!--  }-->
<!--</section>-->
<section class="header" [class.header--solid]="isProfilePage()">
  <section class="left">
    <div class="logo">
      <img src="assets/logo.png" class="logo__img" />
      <h1 class="logo__title">Codevia</h1>
    </div>

    <a routerLink="catalog" class="left__link">Каталог</a>
    <a routerLink="about" class="left__link">О нас</a>
  </section>

  @if (userData$ | async; as userData) {
    <section class="right">
      <button class="right__button-brightness"></button>
      <a routerLink="profile" class="right__link-profile">
        {{ userData.name || userData.login || userData.email }}
      </a>
    </section>
  } @else {
    <section class="right">
      <button class="right__button-brightness"></button>
      <button class="right__button-registration" (click)="showModalRegistration()">Регистрация</button>
      <button class="right__button-authorization" (click)="showModalAuthorization()">Войти</button>
    </section>
  }
</section>
